header {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  img {
    @include respond-to('medium') {
      width: 40%;
    }
    width: 90%;
  }
}

h1 {
  font-family: $ubuntu;
  font-weight: bold;
  color: red;
}

h2 {
  font-family: $poppins;
}

@media (max-width:$breakpoint-lg) {
  .author__description {
    display: none;
  }
}